#response-status {
    display: none;
}

#cluster-header {
    background-color: #1a2a4a;
    color: white;
}

#cluster-header h5 {
    display: inline-block;
    color: white;
    vertical-align: middle;
    margin-right: 10px;
}

#cluster-header a {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}

#cluster-header img {
    height: 16px;
}

#delete-next-form,
#next-form {
    transition: opacity 0.5s linear !important;
}

.next-buttons {
    text-align: center;
}

#close-button {
    position: absolute;
    top: 3px;
    right: 3px;
}

.mapboxgl-popup-content {
    padding: 0;
}

.mapboxgl-popup-close-button {
    color: white;
}

.mapboxgl-popup {
    border-radius: 0.375rem;
    overflow:hidden;
}
.popup-card {
    margin-bottom: 0 !important;
}
