.card .table thead th {
    white-space: normal;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: top;
}

.showing {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}

.net {
    position: relative;
    display: inline-block;
}

.net img {
    width: 11px;
    height: 11px;
    position: absolute;
    top: 0px;
    right: -8px;
}

.orgname-org-blade {
    height: 200px;
}

.orgname-org-blade .h1 {
    position: absolute;
    top: 40%;
}

.orgname {
    height: 250px;
}

.orgname .h1 {
    position: absolute;
    top: 40%;
}

.user {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.map-icon-black {
    float: right;
    width: 25px;
    height: auto;
}

.report-icon {
    font-size: 27px;
    color: #191B2F;
    margin-right: 20px;
}
.map-icon-black:hover {
    cursor: pointer;
}

.map-icon-white {
    float: right;
    width: 25px;
    height: auto;
    display: none;
}

.map-icon-white:hover {
    cursor: pointer;
}

.account-header {
    display: inline-block;
    color: inherit !important;
    z-index: 101;
    position: relative;
}

.account a {
    position: relative;
    z-index: 101;
}

.face {
    display: none;
    height: 100%;
    width: 100%;
    background-color: RGBA(31, 45, 71, 1.00);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    opacity: 0.6;
    background-clip: content-box;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
    margin-bottom: 23px;
    overflow: hidden;
    border-radius: .375rem !important;
}
.add-cluster {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 375px;
}
.cluster-button img {
    height: 100px;
}

.add-button {
    cursor: pointer;
}

.custom-toggle-success {
    margin-bottom: 15px !important;
    margin-top: 10px !important;
}

.map-border {
    border-radius: 0.375rem;
}

.cluster-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
#close-button {
    position: absolute;
    top: 3px;
    right: 3px;
}
@media (min-width: 400px) {
    .user img {
        width: 70px;
        margin-right: 10px;
    }
}
@media (max-width: 400px) {
    .user img {
        width: 50px;
        margin-right: 5px;
    }
}

@media (min-width: 576px) {
    .cluster-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .cluster-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .cluster-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .cluster-container {
        max-width: 1350px;
    }
}
