.card .table thead th {
    white-space: normal;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: top;
}

.showing {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}

.net {
    position: relative;
    display: inline-block;
}

.net img {
    width: 11px;
    height: 11px;
    position: absolute;
    top: 0px;
    right: -8px;
}

.orgname {
    height: 250px;
}

.orgname .h1 {
    position: absolute;
    top: 40%;
}

.user {
    padding-left: 15px;
    padding-top: 15px;
}

.map-icon {
    float: right;
    width: 30px;
    height: auto;
}
.map-icon:hover {
    cursor: pointer;
}

.account-header {
    display: inline-block;
    color: inherit !important;
    z-index:101;
    position: relative;
}

.account a {
    position: relative;
    z-index:101;
}

.face {
    display: none;
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    opacity: 0.4;
    background-clip: content-box;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
    margin-bottom: 23px;
}
.card.cluster {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.cluster-button img {
    height: 100px;
}

@media (min-width: 400px) {
    .user img {
        width: 70px;
        margin-right: 10px;
    }
}
@media (max-width: 400px) {
    .user img {
        width: 50px;
        margin-right: 5px;
    }
}
